<div class="container-fluid m-4 border footer shadow">
    <div class="row d-flex justify-content-between footer-top pt-3">
      <div class="col-xs-12 col-sm-4 pl-5 footers-one">
        <h5 class="pl-4">Essentials</h5>
        <ul>
          <li><a href="maintenance.html">Search</a></li>
          <li><a href="contact.html">Sell your Food</a></li>
          <li><a href="about.html">Advertise with us</a></li>
          <li><a href="about.html">Delivery Portal</a></li>
          <li><a href="about.html">Post Requirements</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 pl-5 footers-two">
        <h5 class="pl-4">Information</h5>
        <ul>
          <li><a href="maintenance.html">Register Now</a></li>
          <li><a href="contact.html">Advice</a></li>
          <li><a href="about.html">Videos</a></li>
          <li><a href="about.html">Blog</a></li>
          <li><a href="about.html">Services</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 pl-5 footers-three ml-auto">
        <h5 class="pl-4">Company</h5>
        <ul>
          <li><a href="maintenance.html">Career</a></li>
          <li><a href="about.html">For Parters</a></li>
          <li><a href="about.html">Terms</a></li>
          <li><a href="about.html">Policy</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-bottom shadow">
      <div class="d-flex justify-content-around align-items-center">
        <a href="#"><img src="./assets/ajapro1.jpg" width="70px"></a>

        <div class="social-icons">
          <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
        </div>

        <div class="copy-right">
          <p class="text-muted">© 2018 xyz Software Pvt. Ltd.</p>
        </div>
      </div>
    </div>
  </div>
