<div class="container mt-4">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="h1">My Shopping Cart</h1>
      </div>

      <div class="row">
        <div class="col-sm-7 shadow" id="carts">
            <div class="row" style="border:1px solid gray;border-radius:5px">
                <br>
                    <div class="col-sm-5">    
                        <br><br>
                        <div class="d-flex flex-column">
                        <img src="assests/idli-1.jpg" alt="img" height="70px" width="auto">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-7">
                        <br>
                        <div class="d-flex flex-column">
                            <h4>Idli(2)</h4><div class="mr-auto"><span>idli</span></div>
                            <h6 class="mt-2"></h6>
                            <h5 style="color:green">$30</h5>
                            <button type="button" class="btn-outline-danger" style="border-radius:10px;width:50%" [disabled]>Remove Item</button>
                        </div>
                        <br>  
                    </div>
                </div>
        </div>
        <div class="col-sm-5" id="priceDetails">

        </div>
      </div>

    </div>

  </div>