.<div class="container">
    <div class="row border pb-4 shadow">
      <div class="col-sm-7 d-flex align-items-center justify-content-center pt-2 pb-2 bg-light" >
        <img [src]="data.imgpath[0]" id="image" class="shadow" height="280px" width="90%">
      </div>
      <div class="col-sm-5 d-flex flex-column">
        <div class="row">
          <h3 class="col-sm-6" id="name">{{data.name}}</h3>
          <p class="col-sm-6 d-flex justify-content-end" id="veg" >{{data.veg ? 'veg':'nonVeg'}}</p>
        </div>
        <div>
          <p>rating: <span id="rating">{{data.rating}}</span></p>
        </div>
        <div>
          <p>type: <span id="type">{{data.type}}</span></p>
        </div>
        <div>
          <p>spice-level: <span id="spice">{{data.spicelevel}}</span></p>
        </div>
        <div>
          <p>Price: $<span id="price">{{data.price}}</span></p>
        </div>

        <div>
          <a type="submit" (click)="addToCart(data)" class="btn btn-success" id="addToCart">add to cart</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-3 ml-2 pb-2 border">
      <h4>Description:</h4>
      <div><hr></div>
      <div id="description" class="pl-5">
        {{data.description}}
      </div>
    </div>
    <div class="row mt-3 ml-2 border">
      <h4>Review</h4>
      <div><hr></div>
      <div id="comment" class="pl-5" *ngFor="let view of data.comments">
        <div class="d-flex justify-content-between" >
          <p><b><span>By: {{view.reviewedBy}}</span></b><p>
          <p class="text-muted pr-3">{{view.reviewedDate}}</p>
          </div>
          <p><span> {{view.review}}</span></p>
          <hr>
      </div>


    </div>
  </div>

  <!-- main div logic ends-->


