<nav class="navbar navbar-expand-lg navbar-light mb-4 shadow">
    <div class="container-fluid ">
      <!--header-logo-->
      <div class="navbar-brand d-flex justify-content-between align-items-center">
        <a href="index.html" class="logo"><img src="./assets/ajapro1.jpg" width="100px"></a>
        <h3 id="app-title">FoodCart</h3>
      </div>


      <!-- header-navbar -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SignUp</a>
          </li>
        </ul>
      </div>

      <!-- header-cart -->

      <div class="col-2 d-flex justify-content-end align-items-center ml-5">
        <a class="cart-logo d-flex align-items-center" href="#">
          <span><i class="fa-3x fa fa-shopping-cart"></i></span>
          <span class="text-cart">Cart</span>
        </a>
      </div>
    </div>
  </nav>
